#imageBrowseList li {
  padding: 0;
  margin: 0; }
  #imageBrowseList li a {
    display: block;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
    text-align: center; }
    #imageBrowseList li a img {
      margin: auto; }
#imageBrowseList .selected a {
  background: #DBF2E0; }
#imageBrowseList .name {
  max-width: 100px;
  margin: auto;
  text-align: center;
  font-size: 11px;
  word-break: break-all; }

#imageChooserSelectedImages {
  background: #eee;
  padding: 5px;
  margin: 10px 0;
  overflow: auto;
  max-height: 300px; }
  #imageChooserSelectedImages .selectedImageItem {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative; }
    #imageChooserSelectedImages .selectedImageItem .removeSelectedImageItem {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #e11600;
      background: #FFF;
      padding: 3px 10px; }
      #imageChooserSelectedImages .selectedImageItem .removeSelectedImageItem:hover {
        background: #e11600;
        color: #FFF; }

/*# sourceMappingURL=mediaBundle.css.map */
