{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

{% block customStylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}

{% block customJsPlugins -%}
    {{ parent() }}
    <script src="{{ asset('bundles/zantolovmedia/js/dropzone.js') }}"></script>
{% endblock %}

    {% block body -%}
        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}
                {% trans %}Image list{% endtrans %}
            {% endblock %}
            {% block actionPanel %}
                {% include 'ZantolovAppBundle:SensioGeneratorBundle:partials/CRUD/indexLinks.html.twig' with {entityPrefix: "zantolov.media.image."} %}
            {% endblock %}
            {% block additionalTabLinks %}
                <li class="dragActiveable">
                    <a href="#uploadTab" data-toggle="tab">
                        {% trans %}Upload{% endtrans %}
                    </a>
                </li>
            {% endblock %}
            {% block additionalTabs %}
                <div role="tabpanel" class="tab-pane text-left" id="uploadTab">
                    <form action="{{ url('zantolov.media.image.upload') }}"
                          method="POST"
                          class="dropzone"
                          id="dropzoneForm"></form>

                    <script>
                        var functions = window.functions || [];
                        functions.push(function () {
                            Dropzone.options.dropzoneForm = {
                                acceptedFiles: "image/*",
                                maxFileSize: {{ globalMaxFilesize }}
                            };
                        });
                    </script>

                </div>
            {% endblock %}

        {% endembed %}

        <table class="table dataTable">
            <thead>
            <tr>
                <th class="col-sm-1">#</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>{% trans %}Image name{% endtrans %}</th>
                <th>{% trans %}Created at{% endtrans %}</th>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th class="col-sm-1">{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('zantolov.media.image.show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('zantolov.media.image.show', { 'id': entity.id }) }}">
                            <img src="{{ zantolov_uploader_asset(entity, 'imageFile', null, false) | imagine_filter('thumb') }}"/>
                        </a>
                    </td>
                    <td>{{ entity.imageName }}</td>
                    <td>{% if entity.createdAt %}{{ entity.createdAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{% if entity.updatedAt %}{{ entity.updatedAt|date(defaultDateTimeFormat) }}{% endif %}</td>
                    <td>{{ entity.active|fontAwesome() }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           title="Show"
                           href="{{ path('zantolov.media.image.show', { 'id': entity.id }) }}">
                            <i class="fa fa-search"></i>
                        </a>
                        <a class="btn btn-primary btn-sm"
                           title="Edit"
                           href="{{ path('zantolov.media.image.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
