{% extends 'ZantolovMediaBundle::baseAdmin.html.twig' %}

    {% block body -%}

        {% embed 'ZantolovAppBundle:Admin/partials:crudHeader.html.twig'  with { ignoreTabs: ["filters"]} %}
            {% block entityTitle %}Document{% endblock %}

            {% block actionPanel %}
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary btn-sm" href="{{ path('zantolov.media.document.index') }}">
                            <i class="fa fa-arrow-left"></i> Back to the list
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('zantolov.media.document.edit', { 'id': entity.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            {% endblock %}
        {% endembed %}

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Filename{% endtrans %}</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Active{% endtrans %}</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            </tbody>
        </table>

    {% endblock %}
